{% load static %}

<!--////////////////////////////////////Header-->
<header >
	<div class="wrap-header zerogrid">
		<div class="row">
			<div id="cssmenu">
				<ul>
				   <li class='active'><a href="{% url 'home' %}">Home</a></li>
				   <li><a href="{% url 'about' %}">About</a></li>
				   <li><a href="{% url 'projects' %}">Projects</a></li>
				   <li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
			<a href='{% url 'home' %}' class="logo"><img src="{% static 'images/logo.png' %}" /></a>
		</div>
	</div>
</header>